@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.container {
    padding-right: 32px;
    padding-left: 32px;
}

a:hover {
    color: #e7d200;
    text-decoration: none;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 20px 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
}

nav ul li a {
    color: #FFF;
    text-transform: uppercase;
    padding: 0 19px;
}

nav input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
    background-color: rgb(0 0 0 / 57%);
}

#menu-icon,
#menu-icon:before,
#menu-icon:after {
    background: #FFF;
    border-radius: 0.05em;
    height: 3px;
    transition: all 0.2s ease-in-out;
    width: 100%;
}

#menu-icon {
    display: inline-block;
    margin: 13px 0;
    max-width: 1em;
    position: relative;
    font-size: 26px;
}

nav label #menu-icon {
    float: right;
}

#menu-icon:before,
#menu-icon:after {
    content: '';
    left: 0;
    position: absolute;
}

#menu-icon:before {
    top: -0.3em;
}

#menu-icon:after {
    bottom: -0.3em;
}

nav label,
#responsive-menu {
    display: none;
}

header {
    background-color: #100602;
}

.slideHome {
    text-align: center;
    padding: 46px 0 60px;
}

.slideHome img {
    max-width: 784px;
    width: 100%;
}

.blocOne {
    padding: 100px 0 80px;
    position: relative;
}

.blocOne h3 {
    font-weight: bold;
}

.blocOne img {
    position: sticky;
    top: 0;
    max-width: 250px;
    width: 100%;
}

img.blocTwo {
    width: 100%;
}

.blocThree {
    margin-top: 60px;
    margin-bottom: 60px;
}

.blocThree h2 {
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}

.blocThree .text-content strong {
    font-style: italic;
}

.blocThree img {
    float: left;
    margin: 0 20px 0 0;
}

.blocThree .text-content {
    line-height: 24px;
}

img.blocFour {
    width: 100%;
}

footer {
    color: #9B9B9B;
    background-image: url(../img/darthvader_2x.jpg);
    text-align: center;
    padding: 60px 0;
    font-size: 12px;
    line-height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #181818;
}

footer a {
    color: #9B9B9B;
    text-decoration: underline;
}

footer ul {
    list-style: none;
    padding: 0;
}

.social span {
    display: block;
    margin-bottom: 3px;
}

.social img {
    margin: 0 11px;
}

.copyright {
    margin-bottom: 30px;
}